.piece {
    display: flex;
    flex-direction: column;
}

.piece-row {
    display: flex;
}

.piece-cell {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 1px;
    background-color: #ccc;
    background-color: #a808e7;
}
