.spectra-wrapper {
    margin-right: 1vw;
    margin-bottom: 21vh;
}

.spectra {
    width: 10vw;
    max-height: 10vh;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.rowSpectra {
    display: flex;
}

.cellSpectra {
    width: calc(10vw / 10);
    height: calc(10vw / 10);
}
