.tetris {
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
}

.info-menu-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.board-section {
    flex: 1;
    height: 90vh;
    padding-left: 20px;
    padding-right: 20px;
}

.spectras-section {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 90vh;
    flex-direction: column;
    overflow-y: scroll;
}

.buttons {
    margin-top: 20px;
}
